@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
.input-bordered {
    border: 1px solid #9ca3af;
    /* gray-400 */
    border-radius: 0.375rem;
    /* rounded */
    padding: 0.5rem 0.75rem;
    /* py-2 px-3 */
    color: #000;
}

.button-color {
    background-color: blue;
    color: white;
}